body {
    background-color: #1e1e1e;  
    font-family: "Poppins", sans-serif;  
    color:#1e1e1e;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 100vh;
}


.projects-container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;  
    color: #1e1e1e;
    border-radius: 10px;
    text-align: center;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project-card {
    background-color: #232323;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: left;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.project-card h2 {
    color: white; 
}

.project-card p {
    color:white;
    font-size: 16px;
    line-height: 1.4;
}

.project-link, .view-project {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.project-link {
    background-color: #cf2e3c; 
}

.view-project {
    background-color: #cf2e3c; 
}

.project-link:hover, .view-project:hover {
    opacity: 0.8;
}
