body {
    background-color: #1e1e1e;  
    font-family: "Poppins", sans-serif;  
    color:#1e1e1e;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 100vh;
}

.resume-container {
    max-width:1000px;
    margin: 10px auto;
    padding: 25px 150px;
    background-color: white;
    color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.resume-container h1{
    text-align: center;
}

.header-section{
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 3px solid #444;
}

.education-section{
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 3px solid #444;
}

.experience-section{
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 3px solid #444;
}

.experience-section li{
    text-align: left;
    padding: 5px;
}

.skills-category{
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 3px solid #444;
}

.horizontal-skills-list {
    display: flex;                
    flex-wrap: wrap;              
    list-style: none;             
    padding: 0;
    margin: 20px 0;
    gap: 10px;                    
    justify-content: center;      
}

.horizontal-skills-list li {
    background-color: #1e1e1e;    
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;          
}

.project-section{
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 3px solid #444;
}

.project-section p{
    padding-top: 0px;
}

.view-project:hover {
    opacity: 0.8;
    background-color: #444;
    transform: scale(1.1);
}

.view-project {
    background-color: #1e1e1e; 
    display: inline-block;
    padding: 8px 12px;
    margin-left: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: small;
    transition: transform 0.3s ease, background-color 0.3s ease;

}
